.quiz-question, .quiz-question-dark {
  margin: 32px 24px;
}

.quiz-question-dark {
  color: var(--white);
}

.question-count {
  font-size: 14px;
  font-style: italic;
}

.question {
  font-size: 20px;
}

.bar-outer {
  align-items: center;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  height: 16px;
  margin-bottom: 40px;
  width: 100%;
}

.bar-inner {
  background-color: var(--purple);
  border-radius: 7px;
  height: 8px;
  margin-left: 1%;
}

.options, .options-dark {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  font-size: 18px;
  margin-bottom: 12px;
  padding: 12px;
}

.options:focus, .options-dark:focus {
  border: 2px solid var(--purple);
}

.options-dark {
  background-color: var(--darkNavy);
  color: var(--white);
}

.options-dark > .counter {
  color: var(--greyNavy)
}

.options:focus:focus > .counter {
  background-color: var(--purple);
}

.options-dark:focus > .counter {
  background-color: var(--purple);
  color: var(--white);
}

.counter {
  align-items: center;
  background-color: var(--lightGrey);
  border-radius: 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
}

.submit-answer, .submit-answer-dark {
  border-radius: 12px;
  font-size: 18px;
  padding: 19px;
  width: 100%;
}

.submit-answer-dark {
  filter: drop-shadow(10px 10px 4px #3B4D66);
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.submission-error {
  align-items: center;
  display: flex;
  justify-content: center;
}

.submission-error-dark {
  color: var(--white);
}

.submission-error-img {
  width: 32px;
}