:root {
  --purple: #A729F5;
  --darkGrey: #313E51;
  --blueGrey: #3B4D66;
  --greyNavy: #626C7F;
  --blue: #ABC1E1;
  --lightGrey: #F4F6FA;
  --white: #FFFFFF;
  --green: #26D782;
  --red: #EE5454;
  --lightPurple: #F6E7FF;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: local('Rubik-Regular'),
       url('./fonts/Rubik-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: local('Rubik-Medium'),
       url('./fonts/Rubik-Medium.ttf') format('ttf');
}

body {
  margin: 0;
  font-family: Rubik-Regular;
  font-size: 12px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body-small {
  font-style: italic;
}

h1 {
  font-family: Rubik-Medium;
  font-size: 144px;
  line-height: 100%;
}

h2 {
  font-family: Rubik-Medium;
  font-size: 64px;
  line-height: 100%;
}

h3 {
  font-family: Rubik-Regular;
  font-size: 64px;
  line-height: 100%;
}

h4 {
  font-family: Rubik-Medium;
  font-size: 36px;
  line-height: 100%;
}

h5 {
  font-family: Rubik-Medium;
  font-size: 28px;
  line-height: 100%;
}

button {
  background-color: var(--purple);
  color: var(--white);
}

button:hover {
  background-color: var(--lightPurple);
}

code {
  font-family: Rubik,
    monospace;
}
