:root {
  --purple: #A729F5;
  --darkNavy: #313E51;
  --blueGrey: #3B4D66;
  --greyNavy: #626C7F;
  --blue: #ABC1E1;
  --lightGrey: #F4F6FA;
  --white: #FFFFFF;
  --green: #26D782;
  --red: #EE5454;
  --lightPurple: #F6E7FF;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

@font-face {
  font-family: Rubik-Regular;
  src: url('./fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: Rubik-Medium;
  src: url('./fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: Rubik-Light;
  src: url('./fonts/Rubik-Light.ttf');
}

body, html, .App, .AppDark, #root {
  font-family: Rubik-Regular;
  font-size: 14px;
  height: 100%;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.App {
  background-color: var(--lightGrey);
  background-image: url('./assets/images/pattern-background-mobile-light.svg');
}

.AppDark {
  background-color: var(--blueGrey);
  background-image: url('./assets/images/pattern-background-mobile-dark.svg');
}

.small {
  font-style: italic;
}

h1 {
  font-family: Rubik-Medium;
  font-size: 144px;
  line-height: 100%;
}

h2 {
  font-family: Rubik-Medium;
  font-size: 64px;
  line-height: 100%;
}

h3 {
  font-family: Rubik-Regular;
  font-size: 64px;
  line-height: 100%;
}

h4 {
  font-family: Rubik-Medium;
  font-size: 36px;
  line-height: 100%;
}

h5 {
  font-family: Rubik-Medium;
  font-size: 28px;
  line-height: 100%;
}

.quiz-text {
  color: var(--darkNavy);
  font-family: Rubik-Medium;
  font-size: 18px;
}

button {
  background-color: var(--purple);
  border: 0;
  color: var(--white);
  filter: drop-shadow(10px 10px 4px #F4F6FA);
}

button:hover {
  background-color:rgba(167, 41, 245, 0.5);
}


